{% load i18n %}
{% load compress %}
<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.png">

    <title>{% trans  "Signin on Libreosteo" %}</title>

    {% compress css %}
    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}css/signin.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  <style type="text/css"></style></head>
  {% endcompress %}

  <body>

    <div class="container">

      <form class="form-signin" role="form" method="post" action="{% url 'login' %}">
          {% csrf_token %}
        <h2 class="form-signin-heading">{% trans "Please sign in" %}</h2>
        {% if demonstration %}
        <div class="well well-lg">
          <p>Pour vous identifier, vous pouvez utiliser 2 utilisateurs enregistrés, le mot de passe est identique à l'utilisateur.
          Ainsi l'utilisateur "demo" aura pour mot de passe "demo".</p>
          <ul>
              <li>demo</li>
              <li>demo2</li>
          </ul>
        </div>
        {% endif %}
        {% if form.errors %}
          <p class="alert alert-danger">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {% trans "Your username and password didn't match. Please try again." %}
          </p>
        {% endif %}
        <div class="form-group {% if form.errors %}has-error{% endif %}">
          <input type="text" name="username" class="form-control" placeholder="{% trans "Your login" %}" required="" autofocus="">
          <input type="password" name="password" class="form-control" placeholder="{%  trans "Password" %}" required="">
        </div>
        <!--<label class="checkbox">
          <input type="checkbox" value="remember-me"> {% trans "Remember me" %}
        </label>-->
        <input type="hidden" name="next" value="{{ next|escape }}" />
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="login">{% trans "Sign in" %}</button>
      </form>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  

</body></html>
