# Database
db.sqlite3

# Python compiled files
*.pyc

# Assets
libreosteoweb/static/bower_components/
/static/
/media/

# Indexes
whoosh_index/

# IDE Files
.idea
.idea/
.sublime-project
.sublime-workspace
.komodoproject
.idea
.project
.metadata

# VirtualEnv files
.env
.venv
env/
venv/

# log files
*.log
Libreosteo/settings/local.py*
