{% load i18n %}
<h1 class="page-header">
    {% trans 'New patient' %}
</h1>


<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <form novalidate name="form">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" ng-model="patient.family_name" required
                               name="family_name" placeholder="{{ patient.family_name }}"/>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control  input-lg" ng-model="patient.original_name"
                               name="original_name" placeholder="{{ patient.original_name }}"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control  input-lg" ng-model="patient.first_name" required
                       name="first_name" placeholder="{{ patient.first_name }}"/>
            </div>
            <div class="form-group">
                    <label for="birthdate">{{patient.birth_date }}</label>
                    <input type="date" id="birthdate" class="form-control  input-lg birthdate"
                           ng-model="patient.birth_date"  ng-required="true"
                           placeholder="AAAA-MM-DD" data-date-split-input="true"/>
            </div>
            <button class="btn btn-primary"
                    ng-click="initPatient(patient)" ng-disabled="form.$invalid">{% trans 'Init the patient file' %}</button>
        </form>
    </div>
</div>

