{% load i18n %}
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="close pull-right"
                ng-click="model = null"
                ng-show="!newExamination"
                ui-sref="patient.examinations"
                tooltip="Fermer ce volet"
                tooltip-placement="left"
                ><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
        </div>
    </div>
    <form editable-form name="editableForm" edit-form-control edit="edit" save="save" delete="delete" trigger="triggerEditForm" onaftersave="saveModel()" disable-enter >
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>{% trans 'Session of ' %} {$ model.date | date : 'longDate' $} {% trans 'by'%} <span class="text-uppercase">{$ model.therapeut_detail.last_name $}</span> {$ model.therapeut_detail.first_name $}</span>
                </div>
                <div class="panel-body row" style="margin-left: 5px; margin-right: 5px">
                    <div class="badge" ng-class="{'alert-success' : model.type == 1, 'alert-warning' : model.type == 2, 'alert-danger' : model.type >= 3 }"><i class="fa fa-check" ></i></div>
                    <span ng-if="!readOnly"><span editable-select="model.type" e-ng-options="t.value as t.text for t in types">{$ showTypes() $}
                    </span></span>
                    <span ng-if="readOnly">{$ showTypes() $}</span>
                </div>
            </div>
        </div>
        <div class="col-md-4" ng-show="model.status > 0 && model.invoices.length > 0">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>{% trans 'Invoice' %}</span>
                </div>
                <div class="panel-body row" style="margin-left: 5px; margin-right: 5px">
                    <span ng-if="model.invoice_number">
                      <button type="button" id="printInvoiceBtn" class="btn btn-success btn-xs" autocomplete="off" ng-click="printInvoice(model.last_invoice)" title={% trans 'Print'%}><i class="fa fa-print"></i> </button>
                      <button type="button" id="cancelInvoiceBtn" class="btn btn-danger btn-xs" ng-click="cancelInvoice(model.last_invoice)" title="{% trans 'Cancel'%}"><i class="fa fa-ban"></i> </button>
                      <span><a ng-href="invoice/{$ model.last_invoice.id $}" target="_blank">n° {$ model.invoice_number $}</a></span>
                    </span>
                    <span ng-if="model.invoice_number == null && model.status < 3">
                      <button type="button" id="invoiceExaminationBtn" class="btn btn-success btn-xs" ng-click="invoiceExamination(model)" title="{% trans 'To invoice' %}"><i class="fa fa-euro"></i> {% trans 'To invoice' %}</button>
                    </span>
                    <span ng-if="model.invoice_number != null && model.status < 2">
                      <button type="button" id="finishPaimentBtn" class="btn btn-success btn-xs" ng-click="finishPaiement(model)" title="{% trans 'Regularize'%}"><i class="fa fa-euro"></i> {% trans 'Regularize' %}</button>
                    </span>
                    <span ng-if="model.invoices_list.length > 0">
                      <button type="button" id="unfold_invoices" class="pull-right btn btn-xs"
                        data-toggle="collapse" href="#collapseInvoices" role="button"
                        aria-expanded="false" aria-controls="collapseInvoices">
                        <i class="fa fa-angle-double-down"></i>
                      </button>
                      <span aria-hidden="true"></span><span class="sr-only">{% trans 'Unfold' %}</span>
                    </span>
                    <div class="collapse" style="margin-top:10px;" id="collapseInvoices">
                      <ul ng-repeat="invoice in model.invoices_list" class="list-unstyled">
                        <li>
                          <button type="button" id="printInvoiceBtn" class="btn btn-success btn-xs" autocomplete="off" ng-click="printInvoice(invoice)"><i class="fa fa-print"></i> </button>
                          <span><a ng-href="invoice/{$ invoice.id $}" target="_blank">n° {$ invoice.number $}</a></span>
                          <span ng-if="invoice.type == 'invoice'">
                            <span class="label label-default" ng-if="invoice.status === null || invoice.status === 0">{% trans  'Draft' %}</span>
                            <span class="label label-danger" ng-if="invoice.status === 1">{% trans 'Not paid' %}</span>
                            <span class="label label-success" ng-if="invoice.status === 2">{% trans 'Paid' %}</span>
                            <span class="label label-warning" ng-if="invoice.status === 3">{% trans 'Cancelled' %}</span>
                          </span>
                          <span ng-if="invoice.type == 'creditnote'">
                            <span class="label label-success" ng-if="invoice.status === 2">{% trans 'Credit note' %}</span>
                          </span>
                        </li>
                      </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-12">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    {{ examination.reason }}
                </div>
                <div class="panel-body row" style="margin-left: 1px; margin-right: 1px;">
                    <div class="row">
                        <div class="col-md-5" style="padding-bottom:25px">
                            <div class="col-md-12">
                                <span editable-text="model.reason"
                                    e-placeholder="{{ examination.reason }}"
                                    tooltip="{{ model.reason }}"
                                    tooltip-trigger="mouseenter"
                                >{$ model.reason || '&nbsp;&nbsp;' $}</span>
                            </div>
                            <div class="col-md-12">&nbsp;</div>
                            <div class="col-md-12">
                                <div hallo-editor ng-model="model.reason_description"
                                    placeholder="'{{ examination.reason_description }}'" is-editable="editableForm.$visible"
                                ></div>
                            </div>
                        </div>

                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-12 subtitle">{{ examination.medical_examination }}</div>

                                <div class="col-md-12">
                                    <div hallo-editor ng-model="model.medical_examination"
                                    placeholder="'{{ examination.medical_examination }}'" is-editable="editableForm.$visible"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <!-- the button command -->
            <div class="btn-group btn-group-vertical">
                <div class="col-md-12 btn-group">
                    <label class="btn btn-default" ng-model="examinationSettings.orl" uib-btn-checkbox>{{ examination.orl }}</label>
                </div>
                <div class="col-md-12 btn-group">
                    <label class="btn btn-default" ng-model="examinationSettings.visceral" uib-btn-checkbox>{{ examination.visceral }}</label>
                </div>
                <div class="col-md-12 btn-group">
                    <label class="btn btn-default" ng-model="examinationSettings.pulmo" uib-btn-checkbox>{{ examination.pulmo }}</label>
                </div>
                <div class="col-md-12 btn-group">
                    <label class="btn btn-default" ng-model="examinationSettings.uro_gyneco" uib-btn-checkbox>{{ examination.uro_gyneco }}</label>
                </div>
                <div class="col-md-12 btn-group">
                    <label class="btn btn-default" ng-model="examinationSettings.periphery" uib-btn-checkbox>{{ examination.periphery }}</label>
                </div>
                <div class="col-md-12 btn-group">
                    <label class="btn btn-default" ng-model="examinationSettings.general_state" uib-btn-checkbox>{{ examination.general_state }}</label>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <!-- The accordion -->
            <div uib-accordion close-others="false">
                <div uib-accordion-group heading="{{ examination.orl }}" class="panel-primary panel-sphere" ng-show="examinationSettings.orl" is-open="accordionOpenState.orl">
                    <div hallo-editor ng-model="model.orl"
                            placeholder="'{{ examination.orl }}'" is-editable="editableForm.$visible"></div>
                </div>

                <div uib-accordion-group heading="{{ examination.visceral }}" class="panel-primary panel-sphere" ng-show="examinationSettings.visceral" is-open="accordionOpenState.visceral">
                    <div hallo-editor ng-model="model.visceral"
                            placeholder="'{{ examination.visceral }}'" is-editable="editableForm.$visible"></div>
                </div>

                <div uib-accordion-group heading="{{ examination.pulmo }}" class="panel-primary panel-sphere " ng-show="examinationSettings.pulmo" is-open="accordionOpenState.pulmo">
                    <div hallo-editor ng-model="model.pulmo" placeholder="'{{ examination.pulmo }}'" is-editable="editableForm.$visible"></div>
                </div>

                <div uib-accordion-group heading="{{ examination.uro_gyneco }}" class="panel-primary panel-sphere" ng-show="examinationSettings.uro_gyneco" is-open="accordionOpenState.uro_gyneco">
                    <div hallo-editor ng-model="model.uro_gyneco"
                            placeholder="'{{ examination.uro_gyneco }}'" is-editable="editableForm.$visible"></div>
                </div>

                <div uib-accordion-group heading="{{ examination.periphery }}" class="panel-primary panel-sphere" ng-show="examinationSettings.periphery" is-open="accordionOpenState.periphery">
                    <div  hallo-editor ng-model="model.periphery"
                            placeholder="'{{ examination.periphery }}'" is-editable="editableForm.$visible"
                    ></div>
                </div>

                <div uib-accordion-group heading="{{ examination.general_state }}" class="panel-primary panel-sphere" ng-show="examinationSettings.general_state" is-open="accordionOpenState.general_state">
                    <div hallo-editor ng-model="model.general_state"
                            placeholder="'{{ examination.general_state }}'" is-editable="editableForm.$visible"></div>
                </div>

            </div>
        </div>
     </div>


    <div class="row" style="padding-top:15px">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{ examination.diagnosis }}
                </div>
                <div class="panel-body row" style="margin-left: 5px; margin-right: 5px">
                    <div hallo-editor ng-model="model.diagnosis"
                            placeholder="'{{ examination.diagnosis }}'" is-editable="editableForm.$visible"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{ examination.treatments }}
                </div>
                <div class="panel-body row" style="margin-left: 5px; margin-right: 5px">
                    <div hallo-editor ng-model="model.treatments" placeholder="'{{ examination.treatments }}'" is-editable="editableForm.$visible"></div>
                </div>
            </div>
        </div>
      </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    {{ examination.conclusion }}
                </div>
                <div class="panel-body row" style="margin-left: 5px; margin-right: 5px">
                    <div hallo-editor ng-model="model.conclusion" placeholder="'{{ examination.conclusion }}'" is-editable="editableForm.$visible"></div>
                </div>
            </div>
        </div>
      </div>
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <button id="close-examination" class="btn btn-success pull-right" ng-show="model.status < 1"
                    ng-click="saveAndClose()">{% trans 'Close' %}</button>
        </div>

    </div>
    </form>
