{% load i18n %}
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="close pull-right"
                ng-click="model = null"
                ng-show="!newExamination"
                ui-sref="patient.examinations"
                ><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>{% trans 'Session of ' %} {$ model.date | date : 'longDate' $}</span>
                </div>
                <div class="panel-body row" style="margin-left: 5px; margin-right: 5px">
                    <div class="badge" ng-class="{'alert-success' : model.type == 1, 'alert-warning' : model.type == 2, 'alert-danger' : model.type >= 3 }"><i class="fa fa-check" ></i></div>
                    <span ng-if="!readOnly"><span editable-select="model.type" e-ng-options="t.value as t.text for t in types" onaftersave="saveModel()">{$ showTypes() $}
                    </span></span>
                    <span ng-if="readOnly">{$ showTypes() $}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    {{ examination.reason }}
                </div>
                <div class="panel-body row" style="margin-left: 1px; margin-right: 1px">
                    <div>
                        <inlineedit class="col-md-12" model="model" property="reason" on-save="saveModel()"
                            placeholder="{{ examination.reason }}" read-only="readOnly"
                            ></inlineedit>
                    </div>
                    <div style="padding-top: 45px">
                        <inlinetextarea class="col-md-5" model="model" property="reason_description" on-save="saveModel()"
                                    placeholder="{{ examination.reason_description }}" read-only="readOnly"
                                row="5" col="28"/>
                        <span class="col-md-1">{{ examination.medical_examination }}</span>
                        <inlinetextarea class="col-md-6" model="model" property="medical_examination" on-save="saveModel()"
                                    placeholder="{{ examination.medical_examination }}" read-only="readOnly"
                                row="5" col="30"/>
                    </div>
                </div>
            </div>
        </div>
     </div>

     <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{ examination.orl }}
                </div>
                <div class="panel-body row" style="margin-left: 5px; margin-right: 5px">
                    <inlinetextarea model="model" property="orl" on-save="saveModel()"
                            placeholder="{{ examination.orl }}" read-only="readOnly"
                            row="5" col="35"></inlinetextarea>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{ examination.visceral }}
                </div>
                <div class="panel-body row" style="margin-left: 5px; margin-right : 5px">
                    <inlinetextarea model="model" property="visceral" on-save="saveModel()"
                            placeholder="{{ examination.visceral }}" read-only="readOnly"
                            row="5" col="35"></inlinetextarea>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{ examination.pulmo }}
                </div>
                <div class="panel-body row" style="margin-left: 5px; margin-right: 5px">
                    <inlinetextarea model="model" property="pulmo" on-save="saveModel()"
                            placeholder="{{ examination.pulmo }}" read-only="readOnly"
                            row="5" col="35"></inlinetextarea>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{ examination.uro_gyneco }}
                </div>
                <div class="panel-body row" style="margin-left: 5px; margin-right : 5px">
                    <inlinetextarea model="model" property="uro_gyneco" on-save="saveModel()"
                            placeholder="{{ examination.uro_gyneco }}" read-only="readOnly"
                            row="5" col="35"></inlinetextarea>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{ examination.periphery }}
                </div>
                <div class="panel-body row" style="margin-left: 5px; margin-right: 5px">
                    <inlinetextarea model="model" property="periphery" on-save="saveModel()"
                            placeholder="{{ examination.periphery }}" read-only="readOnly"
                            row="5" col="35"></inlinetextarea>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{ examination.general_state }}
                </div>
                <div class="panel-body row" style="margin-left: 5px; margin-right : 5px">
                    <inlinetextarea model="model" property="general_state" on-save="saveModel()"
                            placeholder="{{ examination.general_state }}" read-only="readOnly"
                            row="5" col="35"></inlinetextarea>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{ examination.diagnosis }}
                </div>
                <div class="panel-body row" style="margin-left: 5px; margin-right: 5px">
                    <inlinetextarea model="model" property="diagnosis" on-save="saveModel()"
                            placeholder="{{ examination.diagnosis }}" read-only="readOnly"
                            row="5" col="35"></inlinetextarea>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{ examination.treatments }}
                </div>
                <div class="panel-body row" style="margin-left: 5px; margin-right: 5px">
                    <inlinetextarea model="model" property="treatments" on-save="saveModel()"
                            placeholder="{{ examination.treatments }}" read-only="readOnly"
                            row="5" col="35"></inlinetextarea>
                </div>
            </div>
        </div>
      </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    {{ examination.conclusion }}
                </div>
                <div class="panel-body row" style="margin-left: 5px; margin-right: 5px">
                    <inlinetextarea model="model" property="conclusion" on-save="saveModel()"
                            placeholder="{{ examination.conclusion }}" read-only="readOnly"
                            row="5" col="35"></inlinetextarea>
                </div>
            </div>
        </div>
      </div>

    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <button class="btn btn-success pull-right" ng-show="model.status < 2"
                    ng-click="close(model)">{% trans 'Close' %}</button>
        </div>
    </div>