{% load i18n %}
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="close pull-right"
                ng-click="model = null"
                ng-show="!newExamination"
                ui-sref="patient.examinations"
                tooltip="Fermer ce volet"
                tooltip-placement="left"
                ><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>{% trans 'Session of ' %} {$ model.date | date : 'longDate' $}</span>
                </div>
                <div class="panel-body row" style="margin-left: 5px; margin-right: 5px">
                    <div class="badge" ng-class="{'alert-success' : model.type == 1, 'alert-warning' : model.type == 2, 'alert-danger' : model.type >= 3 }"><i class="fa fa-check" ></i></div>
                    <span ng-if="!readOnly"><span editable-select="model.type" e-ng-options="t.value as t.text for t in types" onaftersave="saveModel()">{$ showTypes() $}
                    </span></span>
                    <span ng-if="readOnly">{$ showTypes() $}</span>
                </div>
            </div>
        </div>
        <div class="col-md-3" ng-show="model.status > 0 && model.status < 3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>{% trans 'Invoice' %}</span>
                </div>
                <div class="panel-body row" style="margin-left: 5px; margin-right: 5px">
                    <button type="button" id="printInvoiceBtn" class="btn btn-success btn-xs" autocomplete="off" ng-click="printInvoice(model)"><i class="fa fa-print"></i> </button>
                    <span><a href="invoice/{$ model.invoice $}"target="_blank">n° {$ model.invoice_number $}</a></span>
                </div>
            </div>            
        </div>
        <div class="col-md-12">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    {{ examination.reason }}
                </div>
                <div class="panel-body row" style="margin-left: 1px; margin-right: 1px;">
                    <div class="row">
                        <div class="col-md-12" style="padding-bottom:25px">
                            <inlineedit model="model" property="reason" on-save="saveModel()"
                                placeholder="{{ examination.reason }}" read-only="readOnly"
                            ></inlineedit>
                        </div>
                        <div class="col-md-5">
                            <inlinetextarea model="model" property="reason_description" on-save="saveModel()"
                            placeholder="{{ examination.reason_description }}" read-only="readOnly"
                            row="5" col="28"/>
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-12 subtitle">{{ examination.medical_examination }}</div>
                                <div class="col-md-12"></div>
                                <div class="col-md-12">
                                    <inlinetextarea model="model" property="medical_examination" on-save="saveModel()"
                                    placeholder="{{ examination.medical_examination }}" read-only="readOnly"
                                row="5" col="30"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <!-- the button command -->
            <div class="btn-group btn-group-vertical">
                <div class="col-md-12 btn-group">
                    <label class="btn btn-default" ng-model="examinationSettings.orl" btn-checkbox>{{ examination.orl }}</label>
                </div>
                <div class="col-md-12 btn-group">
                    <label class="btn btn-default" ng-model="examinationSettings.visceral" btn-checkbox>{{ examination.visceral }}</label>
                </div>
                <div class="col-md-12 btn-group">
                    <label class="btn btn-default" ng-model="examinationSettings.pulmo" btn-checkbox>{{ examination.pulmo }}</label>
                </div>
                <div class="col-md-12 btn-group">
                    <label class="btn btn-default" ng-model="examinationSettings.uro_gyneco" btn-checkbox>{{ examination.uro_gyneco }}</label>
                </div>
                <div class="col-md-12 btn-group">
                    <label class="btn btn-default" ng-model="examinationSettings.periphery" btn-checkbox>{{ examination.periphery }}</label>
                </div>
                <div class="col-md-12 btn-group">
                    <label class="btn btn-default" ng-model="examinationSettings.general_state" btn-checkbox>{{ examination.general_state }}</label>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <!-- The accordion -->
            <accordion close-others="false">
                <accordion-group heading="{{ examination.orl }}" class="panel-primary" ng-show="examinationSettings.orl" is-open="accordionOpenState.orl">
                    <inlinetextarea model="model" property="orl" on-save="saveModel()"
                            placeholder="{{ examination.orl }}" read-only="readOnly"
                            row="5" col="35"></inlinetextarea>
                </accordion-group>

                <accordion-group heading="{{ examination.visceral }}" class="panel-primary" ng-show="examinationSettings.visceral" is-open="accordionOpenState.visceral">
                    <inlinetextarea model="model" property="visceral" on-save="saveModel()"
                            placeholder="{{ examination.visceral }}" read-only="readOnly"
                            row="5" col="35"></inlinetextarea>
                </accordion-group>

                <accordion-group heading="{{ examination.pulmo }}" class="panel-primary" ng-show="examinationSettings.pulmo" is-open="accordionOpenState.pulmo">
                    <inlinetextarea model="model" property="pulmo" on-save="saveModel()"
                            placeholder="{{ examination.pulmo }}" read-only="readOnly"
                            row="5" col="35"></inlinetextarea>
                </accordion-group>

                <accordion-group heading="{{ examination.uro_gyneco }}" class="panel-primary" ng-show="examinationSettings.uro_gyneco" is-open="accordionOpenState.uro_gyneco">
                    <inlinetextarea model="model" property="uro_gyneco" on-save="saveModel()"
                            placeholder="{{ examination.uro_gyneco }}" read-only="readOnly"
                            row="5" col="35"></inlinetextarea>
                </accordion-group>

                <accordion-group heading="{{ examination.periphery }}" class="panel-primary" ng-show="examinationSettings.periphery" is-open="accordionOpenState.periphery">
                    <inlinetextarea model="model" property="periphery" on-save="saveModel()"
                            placeholder="{{ examination.periphery }}" read-only="readOnly"
                            row="5" col="35"></inlinetextarea>
                </accordion-group>

                <accordion-group heading="{{ examination.general_state }}" class="panel-primary" ng-show="examinationSettings.general_state" is-open="accordionOpenState.general_state">
                    <inlinetextarea model="model" property="general_state" on-save="saveModel()"
                            placeholder="{{ examination.general_state }}" read-only="readOnly"
                            row="5" col="35"></inlinetextarea>
                </accordion-group>

            </accordion>
        </div>
     </div>


    <div class="row" style="padding-top:15px">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{ examination.diagnosis }}
                </div>
                <div class="panel-body row" style="margin-left: 5px; margin-right: 5px">
                    <inlinetextarea model="model" property="diagnosis" on-save="saveModel()"
                            placeholder="{{ examination.diagnosis }}" read-only="readOnly"
                            row="5" col="35"></inlinetextarea>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{ examination.treatments }}
                </div>
                <div class="panel-body row" style="margin-left: 5px; margin-right: 5px">
                    <inlinetextarea model="model" property="treatments" on-save="saveModel()"
                            placeholder="{{ examination.treatments }}" read-only="readOnly"
                            row="5" col="35"></inlinetextarea>
                </div>
            </div>
        </div>
      </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    {{ examination.conclusion }}
                </div>
                <div class="panel-body row" style="margin-left: 5px; margin-right: 5px">
                    <inlinetextarea model="model" property="conclusion" on-save="saveModel()"
                            placeholder="{{ examination.conclusion }}" read-only="readOnly"
                            row="5" col="35"></inlinetextarea>
                </div>
            </div>
        </div>
      </div>

    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <button class="btn btn-success pull-right" ng-show="model.status < 1"
                    ng-click="close(model)">{% trans 'Close' %}</button>
        </div>

    </div>