{% load i18n %}
<h1 class="page-header">
    <span editable-text="patient.family_name" onaftersave="savePatient()">{$ patient.family_name $}</span>
    <span ng-show="patient.original_name">(<span editable-text="patient.original_name" onaftersave="savePatient()">{$ patient.original_name $}</span>)
    </span>
    <span editable-text="patient.first_name" onaftersave="savePatient()">{$ patient.first_name $}</span>
</h1>

<tabset>

<tab heading="{% trans 'General infos' %}">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    {% trans 'Patient infos' %}
                </div>
                <div class="panel-body row" style="margin-left: 5px; margin-right: 5px">
                    <div class="row">
                        <div class="col-md-2">
                            {{ patient.birth_date }} :
                        </div>
                        <div class="col-md-6"><span editable-date="patient.birth_date"
                                                    onaftersave="savePatient()"
                                >{$ (patient.birth_date | date:"dd/MM/yyyy") || '{% trans 'not documented' %}' $}</span>
                        </div>
                        <div class="col-md-4"><span> ( {$ age | format_age $} )</span></div>
                    </div>
                    <hr/>
                    <div class="row col-md-12" ng-switch="patient.address_street.length">
                        <div ng-switch-when="0">
                <span editable-text="patient.address_street" onaftersave="savePatient()" e-form="addressStreetForm"
                      e-placeholder="{{ patient.address_street }}">{$ patient.address_street || '{% trans ' ' %}' $}</span>
                            <button class="btn btn-default btn-xs glyphicon glyphicon-pencil"
                                    ng-click="addressStreetForm.$show()"
                                    ng-hide="addressStreetForm.$visible"></button>
                        </div>
                        <div ng-switch-default>
                <span editable-text="patient.address_street" onaftersave="savePatient()"
                      e-placeholder="{{ patient.address_street }}">{$ patient.address_street || '{% trans ' ' %}' $}</span>
                        </div>
                    </div>
                    <div class="row col-md-12" ng-switch="patient.address_complement.length">
                        <div ng-switch-when="0">
                <span editable-text="patient.address_complement" onaftersave="savePatient()"
                      e-form="addressComplementForm" e-placeholder="{{ patient.address_complement }}">{$ patient.address_complement || '{% trans ' ' %}'$}</span>
                            <button class="btn btn-default btn-xs glyphicon glyphicon-pencil"
                                    ng-click="addressComplementForm.$show()"
                                    ng-hide="addressComplementForm.$visible"></button>
                        </div>
                        <div ng-switch-default>
                <span editable-text="patient.address_complement" onaftersave="savePatient()"
                      e-placeholder="{{ patient.address_complement }}">{$ patient.address_complement || '{% trans ' ' %}'$}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4" ng-switch="patient.address_zipcode.length">
                            <div ng-switch-when="0">
                    <span editable-text="patient.address_zipcode" onaftersave="savePatient()"
                          e-form="addressZipCodeForm" e-placeholder="{{ patient.address_zipcode }}"
                          e-style="width:66px">{$ patient.address_zipcode || '{% trans ' ' %}'$}</span>
                                <button class="btn btn-default btn-xs glyphicon glyphicon-pencil"
                                        ng-click="addressZipCodeForm.$show()"
                                        ng-hide="addressZipCodeForm.$visible"></button>
                            </div>
                            <div ng-switch-default>
                    <span editable-text="patient.address_zipcode" onaftersave="savePatient()"
                          e-placeholder="{{ patient.address_zipcode }}" e-style="width:66px">{$ patient.address_zipcode || '{% trans ' ' %}'$}</span>
                            </div>
                        </div>
                        <div class="col-md-8" ng-switch="patient.address_city.length">
                            <div ng-switch-when="0">
                    <span editable-text="patient.address_city" onaftersave="savePatient()" e-form="addressCityForm"
                          e-placeholder="{{ patient.address_city }}">{$ patient.address_city || '{% trans ' ' %}' $}</span>
                                <button class="btn btn-default btn-xs glyphicon glyphicon-pencil"
                                        ng-click="addressCityForm.$show()"
                                        ng-hide="addressCityForm.$visible"></button>
                            </div>
                            <div ng-switch-default>
                    <span editable-text="patient.address_city" onaftersave="savePatient()"
                          e-placeholder="{{ patient.address_city }}">{$ patient.address_city || '{% trans ' ' %}' $}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4" ng-switch="patient.phone.length">
                            <span class="glyphicon glyphicon-phone-alt"></span>
            <span ng-switch-when="0">
                <span editable-tel="patient.phone" onaftersave="savePatient()" e-form="phoneForm"
                      e-placeholder="{{ patient.phone }}"
                        >{$ patient.phone || '{% trans ' ' %}'$}</span>
                <button class="btn btn-default btn-xs glyphicon glyphicon-pencil" ng-click="phoneForm.$show()"
                        ng-hide="phoneForm.$visible"></button>
            </span>
            <span ng-switch-default>
                <span editable-tel="patient.phone" onaftersave="savePatient()" e-placeholder="{{ patient.phone }}"
                        >{$ patient.phone || '{% trans ' ' %}'$}</span>
            </span>
                        </div>

                        <div class="col-md-4" ng-switch="patient.mobile_phone.length">
                            <span class="glyphicon glyphicon-earphone"></span>
            <span ng-switch-when="0">
                <span editable-tel="patient.mobile_phone" onaftersave="savePatient()" e-form="mobilePhoneForm"
                      e-placeholder="{{ patient.mobile_phone }}"
                      e-ng-pattern="/^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$/">{$ patient.mobile_phone || '{% trans ' ' %}'$}</span>
                <button class="btn btn-default btn-xs glyphicon glyphicon-pencil" ng-click="mobilePhoneForm.$show()"
                        ng-hide="mobilePhoneForm.$visible"></button>
            </span>
            <span ng-switch-default>
                <span editable-tel="patient.mobile_phone" onaftersave="savePatient()"
                      e-placeholder="{{ patient.mobile_phone }}"
                      e-ng-pattern="/^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$/">{$ patient.mobile_phone || '{% trans ' ' %}'$}</span>
            </span>
                        </div>
                    </div>
                    <hr/>

                    <div class="row">
                        <div class="col-md-4">
                        <span editable-checkbox="patient.smoker"
                              e-title="{{ patient.smoker }}?"
                              onaftersave="savePatient()">{$ patient.smoker && "{{ patient.smoker }}" || "{% trans 'Not smoker' %}" $}</span>
                        </div>
                        <div class="col-md-8">
                            {{ patient.doctor }} : <span editable-select="patient.doctor" onshow="loadDoctors()"
                                                         e-ng-options="d.id as (d.family_name + ' - ' + d.city) for d in doctors|orderBy:'family_name'"
                                                         onaftersave="savePatient()"
                                                         tooltip-html-unsafe="{$ doctor.family_name$} {$doctor.first_name$}<br>{$doctor.phone$} - {$doctor.city$}"
                                                         tooltip-trigger="mouseenter"
                                >{$ doctor.family_name $} - {$ doctor.city $}</span>
                            <button class="btn btn-default btn-xs fa fa-plus"
                                    title="{% trans 'Add a doctor' %}" ng-click="formAddDoctor()"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    {{ patient.important_info }}
                </div>
                <div class="panel-body row">
                    <div style="margin-left: 5px; margin-right: 5px" ng-switch="patient.important_info.length">
                    <span ng-switch-when="0">
                        <span editable-textarea="patient.important_info" e-rows="7" e-cols="20"
                              e-placeholder="{{ patient.important_info }}" onaftersave="savePatient()"
                              e-form="importantInfoForm">
                            <pre>{$ patient.important_info || ' ' $}</pre>
                            </span>
                        <button class="btn btn-default btn-xs glyphicon glyphicon-pencil"
                                ng-click="importantInfoForm.$show()"
                                ng-hide="importantInfoForm.$visible"></button>
                    </span>
                    <span ng-switch-default>
                        <span editable-textarea="patient.important_info" e-rows="7" e-cols="20"
                              e-placeholder="{{ patient.important_info }}" onaftersave="savePatient()">
                            <pre>{$ patient.important_info || ' ' $}</pre>
                            </span>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</tab>

<tab heading="{% trans 'History' %}">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{ patient.surgical_history }}
                </div>
                <div class="panel-body row" style="margin-left: 5px; margin-right: 5px">
                    <div style="margin-left: 5px; margin-right: 5px" ng-switch="patient.surgical_history.length">
                    <span ng-switch-when="0">
                        <span editable-textarea="patient.surgical_history" e-rows="5" e-cols="35"
                              e-placeholder="{{ patient.surgical_history }}" onaftersave="savePatient()"
                              e-form="surgicalHistoryForm">
                            <pre>{$ patient.surgical_history || ' ' $}</pre>
                            </span>
                        <button class="btn btn-default btn-xs glyphicon glyphicon-pencil"
                                ng-click="surgicalHistoryForm.$show()"
                                ng-hide="surgicalHistoryForm.$visible"></button>
                    </span>
                    <span ng-switch-default>
                        <span editable-textarea="patient.surgical_history" e-rows="5" e-cols="35"
                              e-placeholder="{{ patient.surgical_history }}" onaftersave="savePatient()">
                            <pre>{$ patient.surgical_history || ' ' $}</pre>
                            </span>
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{ patient.medical_history }}
                </div>
                <div class="panel-body row" style="margin-left: 5px; margin-right : 5px">
                    <div style="margin-left: 5px; margin-right: 5px" ng-switch="patient.medical_history.length">
                    <span ng-switch-when="0">
                        <span editable-textarea="patient.medical_history" e-rows="5" e-cols="35"
                              e-placeholder="{{ patient.medical_history }}" onaftersave="savePatient()"
                              e-form="medicalHistoryForm">
                            <pre>{$ patient.medical_history || ' ' $}</pre>
                            </span>
                        <button class="btn btn-default btn-xs glyphicon glyphicon-pencil"
                                ng-click="medicalHistoryForm.$show()"
                                ng-hide="medicalHistoryForm.$visible"></button>
                    </span>
                    <span ng-switch-default>
                        <span editable-textarea="patient.medical_history" e-rows="5" e-cols="35"
                              e-placeholder="{{ patient.medical_history }}" onaftersave="savePatient()">
                            <pre>{$ patient.medical_history || ' ' $}</pre>
                            </span>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{ patient.family_history }}
                </div>
                <div class="panel-body row" style="margin-left: 5px; margin-right: 5px">
                    <div style="margin-left: 5px; margin-right: 5px" ng-switch="patient.family_history.length">
                    <span ng-switch-when="0">
                        <span editable-textarea="patient.family_history" e-rows="5" e-cols="35"
                              e-placeholder="{{ patient.family_history }}" onaftersave="savePatient()"
                              e-form="familyHistoryForm">
                            <pre>{$ patient.family_history || ' ' $}</pre>
                            </span>
                        <button class="btn btn-default btn-xs glyphicon glyphicon-pencil"
                                ng-click="familyHistoryForm.$show()"
                                ng-hide="familyHistoryForm.$visible"></button>
                    </span>
                    <span ng-switch-default>
                        <span editable-textarea="patient.family_history" e-rows="5" e-cols="35"
                              e-placeholder="{{ patient.family_history }}" onaftersave="savePatient()">
                            <pre>{$ patient.family_history || ' ' $}</pre>
                            </span>
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{ patient.trauma_history }}
                </div>
                <div class="panel-body row" style="margin-left: 5px; margin-right : 5px">
                    <div style="margin-left: 5px; margin-right: 5px" ng-switch="patient.trauma_history.length">
                    <span ng-switch-when="0">
                        <span editable-textarea="patient.trauma_history" e-rows="5" e-cols="35"
                              e-placeholder="{{ patient.trauma_history }}" onaftersave="savePatient()"
                              e-form="traumaHistoryForm">
                            <pre>{$ patient.trauma_history || ' ' $}</pre>
                            </span>
                        <button class="btn btn-default btn-xs glyphicon glyphicon-pencil"
                                ng-click="traumaHistoryForm.$show()"
                                ng-hide="traumaHistoryForm.$visible"></button>
                    </span>
                    <span ng-switch-default>
                        <span editable-textarea="patient.trauma_history" e-rows="5" e-cols="35"
                              e-placeholder="{{ patient.trauma_history }}" onaftersave="savePatient()">
                            <pre>{$ patient.trauma_history || ' ' $}</pre>
                            </span>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</tab>

<tab heading="{% trans 'Examinations' %}">
    <ul class="timeline">
        <li>
            <div class="timeline-badge"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Timeline Event</h4>

                    <p>
                        <small class="text-muted"><i class="fa fa-time"></i> 11 hours ago via Twitter</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque
                        vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Timeline Event</h4>
                </div>
                <div class="timeline-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque
                        vulputate. Aliquam in metus eu lectus aliquet egestas.</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque
                        vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge danger"><i class="fa fa-credit-card"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Timeline Event</h4>
                </div>
                <div class="timeline-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque
                        vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Timeline Event</h4>
                </div>
                <div class="timeline-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque
                        vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge info"><i class="fa fa-save"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Timeline Event</h4>
                </div>
                <div class="timeline-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque
                        vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
                    <hr>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-cog"></i>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a>
                            </li>
                            <li><a href="#">Another action</a>
                            </li>
                            <li><a href="#">Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Timeline Event</h4>
                </div>
                <div class="timeline-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque
                        vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge success"><i class="fa fa-thumbs-up"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Timeline Event</h4>
                </div>
                <div class="timeline-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque
                        vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
                </div>
            </div>
        </li>
    </ul>

</tab>
</tabset>