{% load i18n %}
<h1 class="page-header">
    <span editable-text="patient.family_name" onaftersave="savePatient()">{$ patient.family_name $}</span>
    <span ng-show="patient.original_name">(<span editable-text="patient.original_name" onaftersave="savePatient()">{$ patient.original_name $}</span>)
    </span>
    <span editable-text="patient.first_name" onaftersave="savePatient()">{$ patient.first_name $}</span>
</h1>

<uib-tabset>

<uib-tab heading="{% trans 'General infos' %}" ui-sref="patient">
    <div class="row">
        <form editable-form name="form.patientForm" edit-form-control edit="editPatient" save="saveEditPatient" delete="delete" trigger="triggerEditFormPatient" onaftersave="savePatient()">
        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    {% trans 'Patient infos' %}
                </div>
                <div class="panel-body row" style="margin-left: 5px; margin-right: 5px">
                    <div class="row">
                        <div class="col-md-2">
                            {{ patient.birth_date }} :
                        </div>
                        <div class="col-md-6"><span e-class="polyfill-updatable birthdate" editable-date="patient.birth_date"
                                                 onshow="updateComponentPolyfill()"
                                >{$ (patient.birth_date | date:"dd/MM/yyyy") || '{% trans 'not documented' %}' $}</span>
                        </div>
                        <div class="col-md-4"><span> ( {$ age | format_age $} )</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            {{ patient.sex }} :
                        </div>
                        <div class="col-md-10"><span editable-select="patient.sex"
                                                         e-ng-options="s.value as s.text for s in sexes"
                                >{$ showSex() $}</span></div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-md-12">
                            <span editable-text="patient.address_street"
                                e-placeholder="{{ patient.address_street }}"
                                tooltip="{{ patient.address_street }}"
                                tooltip-trigger="mouseenter"
                              >{$ patient.address_street || '&nbsp;&nbsp;' $}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span editable-text="patient.address_complement"
                                e-placeholder="{{ patient.address_complement }}"
                                tooltip="{{ patient.address_complement }}"
                                tooltip-trigger="mouseenter"
                              >{$ patient.address_complement || '&nbsp;&nbsp;' $}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <span editable-text="patient.address_zipcode"
                        e-placeholder="{{ patient.address_zipcode }}"
                        tooltip="{{ patient.address_zipcode }}"
                        tooltip-trigger="mouseenter"
                        class="row col-md-5" e-width="66px"
                      >{$ patient.address_zipcode || '&nbsp;&nbsp;' $}</span>

                            <span editable-text="patient.address_city"
                        e-placeholder="{{ patient.address_city }}"
                        tooltip="{{ patient.address_city }}"
                        tooltip-trigger="mouseenter"
                        class="row col-md-7" e-width="200px"
                      >{$ patient.address_city || '&nbsp;&nbsp;' $}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row col-md-6">
                                <span class="glyphicon glyphicon-phone-alt"
                                      tooltip="{{ patient.phone }}"
                                      tooltip-trigger="mouseenter"
                                ></span>
                                <span editable-tel="patient.phone"
                                      e-placeholder="{{ patient.phone }}"
                                      tooltip="{{ patient.phone }}"
                                      tooltip-trigger="mouseenter"
                                      >{$ patient.phone || '&nbsp;&nbsp;' $}</span>
                            </div>
                            <div class="row col-md-6">
                                <span class="glyphicon glyphicon-earphone"
                                      tooltip="{{ patient.mobile_phone }}"
                                      tooltip-trigger="mouseenter"
                                ></span>
                                <span editable-tel="patient.mobile_phone"
                                      e-placeholder="{{ patient.mobile_phone }}"
                                      tooltip="{{ patient.mobile_phone }}"
                                      tooltip-trigger="mouseenter"
                                      >{$ patient.mobile_phone || '&nbsp;&nbsp;' $}</span>
                            </div>
                        </div>
                    </div>
                    <hr/>

                    <div class="row">
                        <div class="col-md-4">
                        <span editable-checkbox="patient.smoker"
                              e-title="{{ patient.smoker }}?">{$ patient.smoker && "{{ patient.smoker }}" || "{% trans 'Not smoker' %}" $}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            {{ patient.laterality }} :
                        </div>
                        <div class="col-md-10"><span editable-select="patient.laterality"
                                                         e-ng-options="l.value as l.text for l in laterality"
                                >{$ showLaterality() $}</span></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            {{ patient.doctor }} : <span editable-select="patient.doctor" onshow="loadDoctors()"
                                                         e-ng-options="d.id as (d.family_name + ' - ' + d.city) for d in doctors|orderBy:'family_name'"
                                                         tooltip-html-unsafe="{$ doctor.family_name$} {$doctor.first_name$}<br>{$doctor.phone$} - {$doctor.city$}"
                                                         tooltip-trigger="mouseenter"
                                >{$ doctor.family_name || "{% trans 'not documented' %}" $} - {$ doctor.city || "{% trans 'not documented' %}" $}</span>
                            <button class="btn btn-default btn-xs fa fa-plus"
                                    title="{% trans 'Add a doctor' %}" ng-show="form.patientForm.$visible" ng-click="formAddDoctor()"></button>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-md-6">
                            <p>{{ patient.job }} :</p>
                            <span editable-text="patient.job"
                        e-placeholder="{{ patient.job }}"
                        tooltip="{{ patient.job }}"
                        tooltip-trigger="mouseenter"
                        e-width="200px"
                      >{$ patient.job || '&nbsp;&nbsp;' $}</span>
                        </div>
                        <div class="col-md-6">
                            <p>{{ patient.hobbies }} :</p><div hallo-editor ng-model="patient.hobbies" 
                            placeholder="'{{ patient.hobbies }}'"
                            is-editable="form.patientForm.$visible"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    {{ patient.important_info }}
                </div>
                <div class="panel-body row">
                    <div hallo-editor ng-model="patient.important_info" placeholder="'{{patient.important_info}}'" is-editable="form.patientForm.$visible"></div>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    {{ patient.current_treatment }}
                </div>
                <div class="panel-body row">
                    <div hallo-editor ng-model="patient.current_treatment" placeholder="'{{patient.current_treatment}}'" is-editable="form.patientForm.$visible"></div>
                </div>
            </div>

        </div>
        </form>
    </div>
</uib-tab>

<uib-tab heading="{% trans 'History' %}" ui-sref="patient">
    <form editable-form name="form.historyForm" edit-form-control edit="editHistory" save="saveHistory" trigger="triggerEditFormHistory" onaftersave="savePatient()">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{ patient.surgical_history }}
                </div>
                <div class="panel-body row" style="margin-left: 5px; margin-right: 5px">
                    <div hallo-editor ng-model="patient.surgical_history"
                            placeholder="'{{ patient.surgical_history }}'" is-editable="form.historyForm.$visible"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{ patient.medical_history }}
                </div>
                <div class="panel-body row" style="margin-left: 5px; margin-right : 5px">
                    <div hallo-editor ng-model="patient.medical_history"  
                            placeholder="'{{ patient.medical_history }}'" is-editable="form.historyForm.$visible"
                            ></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{ patient.family_history }}
                </div>
                <div class="panel-body row" style="margin-left: 5px; margin-right: 5px">
                    <div hallo-editor ng-model="patient.family_history" 
                            placeholder="'{{ patient.family_history }}'" is-editable="form.historyForm.$visible"
                            ></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{ patient.trauma_history }}
                </div>
                <div class="panel-body row" style="margin-left: 5px; margin-right : 5px">
                    <div hallo-editor ng-model="patient.trauma_history"
                            placeholder="'{{ patient.trauma_history }}'" is-editable="form.historyForm.$visible"
                            ></div>
                </div>
            </div>
        </div>
    </div>
    </form>
</uib-tab>

<uib-tab heading="{% trans 'Medical reports' %}" ui-sref="patient">
    <form editable-form name="form.medicalForm" edit-form-control edit="editMedical" save="saveMedical"  trigger="triggerEditFormMedical" onaftersave="savePatient()">
    <div class="panel panel-primary">
                <div class="panel-heading">
                    {{ patient.medical_reports }}
                </div>
                <div class="panel-body row" style="margin-left: 5px; margin-right: 5px">
                    <div hallo-editor ng-model="patient.medical_reports"
                            placeholder="'{{ patient.medical_reports }}'" is-editable="form.medicalForm.$visible"></div>
                </div>
            </div>
    </form>
</uib-tab>

<uib-tab heading="{% trans 'Examinations' %}" active="examinationsTab.examinationsListActive" ui-sref="patient.examinations">
    <examination model="previousExamination.data" ng-if="previousExamination.data != null" ng-animate="displayExamination"
    save-model="saveExamination(previousExamination.data)"
    new-examination="false"
    close="invoiceExamination(previousExamination.data)" on-delete='examinationDeleted(previousExamination.data)'/>
    <timeline archive-examination="previousExamination" examinations="examinations" start-examination="startExamination()" examination-is-active="examinationsTab.newExaminationDisplay" ng-if="previousExamination.data == null"
    current-examination="newExamination"
    current-examination-manager="currentExaminationManager()"/>
</uib-tab>

<uib-tab heading="{% trans 'New Examination' %}" ng-show="examinationsTab.newExaminationDisplay" active="examinationsTab.newExaminationActive">
    <examination model="newExamination" save-model="saveExamination()" close="invoiceExamination(newExamination)" new-examination="true" on-delete='examinationDeleted(newExamination)'/>
</uib-tab>
</uib-tabset>
