{% load i18n %}
{% load static from staticfiles %}
            <div>
                <div>
                    <div class="row">
                        <form name="forms.form_dump" novalidate>
                            <div class="form-group">
                                <label for="archive-file">{% trans 'Archive file to restore' %}</label>
                                <input type="file" id="archive-file" ngf-select="" ng-model="files.archiveFile" name="archiveFile" ngf-accept="'.json'" required="">
                            </div>
                            <button class="btn btn-default" ng-click="restore()" type="submit">{% trans 'Restore' %}</button>

                            <p class="bg-success" ng-if="in_progress"><i class="fa fa-cog fa-spin fa-lg fa-fw"></i>{% trans 'Loading in progress'%}</p>
                        </form>
                    </div>
                </div>
            </div>