{% load i18n %}
{% load static from staticfiles %}
            <div>
                 <h2 class="form-registration-heading">{% trans "Restore database" %}</h2>
                 <div class="well well-md">
                     <p>{% trans 'You can restore a previous archive of the database. This archive should be performed from the software with the Import/Export/Archive function.' %}</p>
                 </div>
                <div>
                    <div class="">
                        <div ng-if="error" class="alert alert-danger" role="alert">
                            <p>{$ error $}</p>
                        </div>
                        <form role="form" name="forms.form_dump" novalidate>
                            <div class="form-group">
                                <label for="archive-file">{% trans 'Archive file to restore' %}</label>
                                <input type="file" id="archive-file" ngf-select="" ng-model="files.archiveFile" name="archiveFile" ngf-accept="'.db'" required="">
                            </div>
                            <button class="btn btn-default" ng-click="restore()" type="submit">{% trans 'Restore' %}</button>

                            <p class="bg-success" ng-if="in_progress"><i class="fa fa-cog fa-spin fa-lg fa-fw"></i>{% trans 'Loading in progress'%}</p>
                        </form>
                    </div>
                </div>
            </div>
