{% load i18n %}
<div ng-switch="examinations.length > 0">

    <div style="margin-top:20px">
        <button id="new-examination-btn" class="btn btn-primary center-block"
                    ng-click="startExamination()" ng-disabled="examinationIsActive">{% trans 'Start an examination' %}</button>
    </div>
    <ul class="timeline" ng-switch-when="true">
        <li ng-repeat="examination in examinations" ng-class="{'timeline-inverted': examination.order %2 == 0 }">
            <div class="timeline-badge" 
                ng-class="{'success' : examination.type == 1, 'warning' : examination.type == 2, 'danger' : examination.type >= 3 }"
                ng-click="loadExamination(examination.id)" ui-sref="patient.examination({examinationId :  examination.id })">
                <i class="fa"
                    ng-class="{'fa-check': examination.status >= 2, 'fa-money': examination.status == 1, 'fa-play': examination.status == 0}" ></i>
            </div>
            <div class="timeline-panel" ng-click="loadExamination(examination.id)" ui-sref="patient.examination({examinationId :  examination.id })">
                <div class="timeline-heading">
                    <h4 class="timeline-title">{% trans 'Session of ' %} {$ examination.date | date : 'longDate' $}</h4>

                    <p>
                        <small class="text-muted"><i class="fa fa-clock-o"></i> {$ examination.date | timeAgo $} {% trans 'by' %} <span class="text-uppercase">{$ examination.therapeut.last_name $}</span> {$ examination.therapeut.first_name $}</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>{$ examination.reason $}</p>
                </div>
                <div class="timeline-footer">
                    <p><small class="text-muted"><span ng-click="loadComments(examination.id, $event)">
                        <span ng-if="examination.comments == 0">{% trans 'No comment' %}</span>
                        <span ng-if="examination.comments > 0">{$ examination.comments $} <span ng-if="examination.comments >= 1">commentaire</span><span ng-if="examination.comments > 1">s</span></small></p>
                </div>
                <div class="timeline-panel-footer hidden" ng-click="no_propagate($event)">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm" placeholder="{% trans 'Comment' %}" ng-model="new_comment"/>
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat" ng-click="sendComment(examination.id , new_comment);new_comment='';">
                                {% trans 'Send' %}
                            </button>
                        </span>
                    </div>
                    <div class="timeline-comments">
                        <ul class="comments-list">
                            <li class="comment" ng-repeat="comment in examination.comments_list">
                                <p class="comment-ident">{$ comment.user_info.last_name $} {$ comment.user_info.first_name $}<p>
                                <p class="comment-content">{$ comment.comment $}</p>
                                <p class="text-muted comment-time"><i class="fa fa-clock-o"></i> {$ comment.date | timeAgo $}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </li>
    </ul>
    <div ng-switch-default class="no-session bg-warning">
        <p class="text-center text-muted" style="padding-top:98px;">{% trans 'No session for this patient' %}</p>
    </div>
</div>
