.editable-click {
    !important;
    color : black;
    border-bottom : none;
}

pre {
    background-color : transparent;
    border : none;
    font-family: Arial, Helvetica, sans-serif;
    white-space: pre-wrap;
}

.no-session {
    height : 200px;
}

.displayExamination.ng-enter, .displayExamination.ng-leave {
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.displayExamination.ng-enter,
.displayExamination.ng-leave.ng-leave-active
{
    opacity: 1;
}

.displayExamination.ng-leave, .displayExamination.ng-enter-active
{
    opacity: 0;
}

.highlighted
{
    font-weight: bold;
}

.extract
{
    margin-top : -7px;
    margin-left : 10px;
}

.search-entry
{
    margin-bottom : 25px;
}

.growl
{
    z-index : 1000;
}

.timeline-panel
{
    cursor:pointer;
}
.timeline-badge
{
    cursor:pointer;
}

.events-badge
{
    z-index: 100;
    top: 0px;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: 0%;
    border-radius: 50% 50% 50% 50%;
    text-align: center;
    font-size: 1.4em;
    line-height: 50px;
    color: #fff;
    background-color: #3f903f;
}

.officeevent
{
    cursor: pointer;
}

.timeline-comments
{

}

.comments-list
{

}

.comment
{
    list-style-type: none;
    margin-bottom : 20px;
}

.comment-ident
{
    margin-left: -40px;
    margin-bottom:-11px;
    font-size: 0.8em;
    color:#000099;
}
.comment-time
{
    font-size : 0.8em;
    margin-top: -11px;
    float:right;
}

.usersGrid {
    width: 800px;
    height: 300px;
}

.chat-panel .panel-body{
    height: auto;
    overflow-y : initial; 
}

.dashboard-sparkline
{
    float:left;
    margin-top: 10%;
    margin-left: 40%;
}
.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.subtitle {
    padding-bottom:10px;
}
.inPlaceholderMode {
  color: #ccc;
}

div.readyForEditMode {
  height: auto;
  min-height:34px;
}

.version {
    font-size : 0.5em;
}
.editor {
    width: 250px;
    top:0px;
}