{% load i18n %}
<h1 class="page-header">
    {% trans 'Dashboard' %}
</h1>

<!-- /.row -->
            <div class="row" ng-if="statistics">
                <div class="col-lg-3 col-md-8">
                    <span class="label" style='cursor:pointer' ng-class="{'label-primary' : selector == 'week', 'label-default' : selector != 'week'}" ng-click="show('week')">{% trans 'Week' %}</span>
                    <span class="label" style='cursor:pointer' ng-class="{'label-primary' : selector == 'month', 'label-default' : selector != 'month'}" ng-click="show('month')">{% trans 'Month' %}</span>
                    <span class="label" style='cursor:pointer' ng-class="{'label-primary' : selector == 'year', 'label-default' : selector != 'year'}" ng-click="show('year')">{% trans 'Year' %}</span>
                    <p></p>
                </div>
            </div>

            <div class="row" ng-if="statistics">
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-plus-square fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <span class="inlinesparkline-newpatient dashboard-sparkline"></span>
                                    <div class="huge">{$ nb_new_patient $}</div>
                                    <div>{% trans 'New patients' %}</div>
                                </div>
                            </div>
                        </div>
                        <!--a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">{% trans 'View Details' %}</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a-->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-folder-open fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <span class="inlinesparkline-nbexamination dashboard-sparkline"></span>
                                    <div class="huge">{$ nb_examination $}</div>
                                    <div>{% trans 'Examinations' %}</div>
                                </div>
                            </div>
                        </div>
                        <!--a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">{% trans 'View Details' %}</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a-->
                    </div>
                </div>
                <!--div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">124</div>
                                    <div>New Orders!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div-->
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-exclamation-triangle fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <span class="inlinesparkline-urgentreturn dashboard-sparkline"></span>
                                    <div class="huge">{$ nb_urgent_return $}</div>
                                    <div>{% trans 'Urgent return' %}</div>
                                </div>
                            </div>
                        </div>
                        <!--a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">{% trans 'View Details' %}</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a-->
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <officeevent ng-if="officeEventLoader" officeevents="officeEventLoader.items" officeevents-by-day="officeEventLoader.itemsByDay" office-event-loader="officeEventLoader" busy="officeEventLoader.busy" />
