{% load i18n %}
<h1>{% trans 'Accounting' %}</h1>
<div class="btn-group">
    <button ng-click="openCalendar()" class="btn btn-default"><i class="fa fa-calendar"></i>
        {$ filters.dateRange.startDate.toDate() | date:'fullDate' $} → {$ filters.dateRange.endDate.toDate() | date:'fullDate' $} <span class="caret"></span>
    </button>
</div>
<input type="text" id="billing-period" class="hidden-datepicker-host"
       date-range-picker ng-model="filters.dateRange"
       options="daterangePickerOptions"/>

<div class="btn-group">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    {% trans 'Export' %}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	    <li><a href="{$ buildCsvUrl() $}"><i class="fa fa-download fa-fw"></i> {% trans 'CSV' %}</a></li>
	    <li><a href="{$ buildCsvUrl('date,number,amount,paiment_mode,currency,status') $}"><i class="fa fa-download fa-fw"></i> {% trans 'anonym CSV'%}</a></li>
    </ul>
</div>
<div class="btn-group" ng-if="users.length > 1">
    <button class="btn btn-default dropdown-toggle" type="button" id="therapeutSelect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    {$ user.last_name $} {$ user.first_name $}
	    <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="therapeutSelect">
	    <li ng-repeat="u in users"><a ng-click="changeTherapeut(u)"><i class="fa fa-user fa-fw"></i>{$ u.last_name $} {$ u.first_name $}</a></li>
    </ul>
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
          <th>{% trans 'Invoice nr' %}</th>
          <th>{% trans 'Date' %}</th>
          <th>{% trans 'Patient' %}</th>
          <th>{% trans 'Amount' %}</th>
          <th>{% trans 'Paiment mean' %}</th>
          <th>{% trans 'Status' %}</th>
          <th>{% trans 'By' %}</th>
          <th>{% trans 'Actions' %}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="invoice in invoices">
            <td>{$ invoice.number || 'n/a'$}</td>
            <td>{$ invoice.date | date : 'fullDate' $}</td>
            <td>{$ invoice.patient_first_name $} {$ invoice.patient_family_name $}</td>
            <td>{$ invoice.amount $} €</td>

            <td ng-if="invoice.paiment_mode == null || (invoice.paiment_mode == 'notpaid' && invoice.paiments_list.length === 0)"></td>
      	    <td ng-if="invoice.paiment_mode != 'notpaid'">{$ invoice.paiment_mode_text | translate $}</td>
            <td ng-if="invoice.paiments_list.length === 1">{$ invoice.paiments_list[0].paiment_mode_text | translate $}</td>
            <td ng-if="invoice.paiments_list.length > 1">{% trans 'multiple' %}</td>

            <td>
                <span class="label label-default" ng-if="invoice.status === null || invoice.status === 0">{% trans  'Draft' %}</span>
                <span class="label label-danger" ng-if="invoice.status === 1">{% trans 'Not paid' %}</span>
                <span class="label label-success" ng-if="invoice.status === 2 && invoice.type ==='invoice'">{% trans 'Paid' %}</span>
                <span class="label label-success" ng-if="invoice.status === 2 && invoice.type ==='creditnote'">{% trans 'Credit note' %}</span>
                <span class="label label-warning" ng-if="invoice.status === 3">{% trans 'Cancelled' %}</span>
            </td>
            <td>
              <span>{$ invoice.canceled_by.number $}</span>
            </td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="/invoice/{$ invoice.id $}" target="_blank">{% trans 'Print' %}</a></li>
                      <li ng-if="invoice.status != 3"><a ng-click="cancelInvoice(invoice)">{% trans 'Cancel' %}</a></li>
                      <!--li ng-if="invoice.status === 1"><a ng-click="updatePaiment(invoice)">{% trans 'Regularize' %}</a></li-->
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>
</table>
