{% load i18n %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Libreosteo">
    <meta name="author" content="Libreosteo">
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.png">

    <title>Libreosteo</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}vendor/font-awesome/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}css/libreosteo.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Libreosteo</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav navbar-right">
                <li>
                    <form class="navbar-form" role="form">
                        <div class="form-group">
                            <input type="text" placeholder="Rechercher" class="form-control"/>
                        </div>
                    </form>
                </li>
                <li>
                    <div class="navbar-btn btn-group">
                        <a class="btn btn-primary" href="#"><i class="fa fa-user fa-fw"></i> {{ request.user.username }}
                        </a>
                        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span class="fa fa-caret-down"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'accounts-logout' %}"><i class="fa fa-sign-out fa-fw"></i>{% trans "Logout" %}</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Heading</h2>

            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                euismod. Donec sed odio dui. </p>

            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Heading</h2>

            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                euismod. Donec sed odio dui. </p>

            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Heading</h2>

            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                fermentum massa justo sit amet risus.</p>

            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; Libreosteo 2013</p>
    </footer>
</div>
<!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ STATIC_URL }}vendor/jquery-1.10.2.min.js"></script>
<script src="{{ STATIC_URL }}vendor/bootstrap/js/bootstrap.min.js"></script>
<!--script src="{{ STATIC_URL }}jsi18n/{{ LANGUAGE_CODE }}/djangojs.js"></script-->
</body>
</html>
