{% load i18n %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="libreosteo">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Libreosteo</title>

    <!-- Core CSS - Include with every page -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Blank -->
     <link href="{% static "css/plugins/timeline/timeline.css" %}" rel="stylesheet">
     <!-- MetisMenu CSS -->
    <link href="{% static "css/plugins/metisMenu/metisMenu.min.css" %}" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="{% static "css/sb-admin-2.css" %}" rel="stylesheet">

    <!-- TypeAHead component -->
    <link href="{% static "css/typeahead.css" %}" rel="stylesheet">

    <!-- compatibility for date input with all browsers -->

    <link href="{% static "bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css"  %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "bower_components/angular-ui-grid/ui-grid.min.css" %}" />
    <link rel="stylesheet" href="{% static "bower_components/jquery-ui-bootstrap/jquery.ui.theme.css" %}" >


</head>

<body>

<div id="wrapper" ng-controller="MainController">

<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".sidebar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Libreosteo <div class="version">{{ version }}</div></a>
</div>
<!-- /.navbar-header -->

<ul class="nav navbar-top-links navbar-right">
<!--
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-messages">
        <li>
            <a href="#">
                <div>
                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                </div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                </div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                </div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a class="text-center" href="#">
                <strong>Read All Messages</strong>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>
    <!-- /.dropdown-messages
</li> -->
<!-- /.dropdown -->
<!--
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-tasks">
        <li>
            <a href="#">
                <div>
                    <p>
                        <strong>Task 1</strong>
                        <span class="pull-right text-muted">40% Complete</span>
                    </p>

                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                             aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                            <span class="sr-only">40% Complete (success)</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <p>
                        <strong>Task 2</strong>
                        <span class="pull-right text-muted">20% Complete</span>
                    </p>

                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20"
                             aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                            <span class="sr-only">20% Complete</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <p>
                        <strong>Task 3</strong>
                        <span class="pull-right text-muted">60% Complete</span>
                    </p>

                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                             aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                            <span class="sr-only">60% Complete (warning)</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <p>
                        <strong>Task 4</strong>
                        <span class="pull-right text-muted">80% Complete</span>
                    </p>

                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80"
                             aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            <span class="sr-only">80% Complete (danger)</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a class="text-center" href="#">
                <strong>See All Tasks</strong>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>
    <!-- /.dropdown-tasks
</li> -->
<!-- /.dropdown -->
<!--
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-alerts">
        <li>
            <a href="#">
                <div>
                    <i class="fa fa-comment fa-fw"></i> New Comment
                    <span class="pull-right text-muted small">4 minutes ago</span>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                    <span class="pull-right text-muted small">12 minutes ago</span>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                    <span class="pull-right text-muted small">4 minutes ago</span>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <i class="fa fa-tasks fa-fw"></i> New Task
                    <span class="pull-right text-muted small">4 minutes ago</span>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                    <span class="pull-right text-muted small">4 minutes ago</span>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a class="text-center" href="#">
                <strong>See All Alerts</strong>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>
    <!-- /.dropdown-alerts
</li> -->
<!-- /.dropdown -->
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" id="user-toggle" aria-haspopup="true" role="button" aria-expanded="false">
        <i class="fa fa-user fa-fw"></i> {{ request.user.username }} <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
        <li id="user-profile"><a ui-sref="user-profile"><i class="fa fa-user fa-fw"></i> {% trans "User Profile" %}</a>
        </li>
        <li id="office-settings"><a ui-sref="office-settings"><i class="fa fa-gear fa-fw"></i> {% trans "Settings" %}</a>
        </li>
        <li id="import-file" ng-if="{{ request.user.is_staff|yesno:"true,false" }}"><a ui-sref="import-file"><i class="fa fa-upload"></i> {% trans "Import/export" %}</a>
        </li>
        <li class="divider"></li>
        <li><a href="accounts/logout"><i class="fa fa-sign-out fa-fw"></i> {% trans "Logout" %}</a>
        </li>
    </ul>
    <!-- /.dropdown-user -->
</li>
<!-- /.dropdown -->
</ul>
<!-- /.navbar-top-links -->


    <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search" ng-controller="SearchCtrl">
                <div class="search-container">
                    <div class="input-group custom-search-form">
                        <input type="search" class="form-control" placeholder="{% trans "Search..." %}"
                               ng-model="query" ng-keydown="onEnterKeyDown($event)">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="search()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                    </div>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="#/addPatient"><i class="fa fa-pencil-square-o"></i> {% trans 'New patient' %}</a>
            </li>
            <li ng-show="editFormManager.available">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span>{% trans 'Edit' %}</span>
                    </div>
                    <div class="panel-body row" style="margin-left: 5px; margin-right: 5px">
                        <button ng-show="editFormManager.action_available('edit')" type="button" class="btn btn-default btn-xs" ng-click="editFormManager.call_action('edit')"><i class="fa fa-edit"></i> {% trans 'Edit' %}</button>
                        <!-- buttons to submit / cancel form -->
                          <span ng-show="editFormManager.action_available('save')">
                            <button type="button" class="btn btn-default btn-xs" ng-click="editFormManager.call_action('save')">
                              <i class="fa fa-thumbs-o-up"></i> {% trans 'End of editing' %}
                            </button>
                          </span>
                        <button ng-show="editFormManager.action_available('delete')" type="button" class="btn btn-danger btn-xs" ng-click="editFormManager.call_action('delete')"><i class="fa fa-trash"></i> {% trans 'Delete' %}</button>

                    </div>
                </div>            
            </li>
            <!--
            <li>
                <a href="{% static "index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{% static "flot.html">Flot Charts</a>
                    </li>
                    <li>
                        <a href="{% static "morris.html">Morris.js Charts</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            <!--
            </li>
            <li>
                <a href="{% static "tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>
            </li>
            <li>
                <a href="{% static "forms.html"><i class="fa fa-edit fa-fw"></i> Forms</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{% static "panels-wells.html">Panels and Wells</a>
                    </li>
                    <li>
                        <a href="{% static "buttons.html">Buttons</a>
                    </li>
                    <li>
                        <a href="{% static "notifications.html">Notifications</a>
                    </li>
                    <li>
                        <a href="{% static "typography.html">Typography</a>
                    </li>
                    <li>
                        <a href="{% static "grid.html">Grid</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
           <!--
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                        </ul>
                        <!-- /.nav-third-level -->
                    <!--</li>
                </ul>
                <!-- /.nav-second-level -->
            <!--</li>
            <li class="active">
                <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="blank.html">Blank Page</a>
                    </li>
                    <li>
                        <a href="account/login.html">Login Page</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            <!--/li-->
        </ul>
        <!-- /#side-menu -->
    </div>
    </div>
    <!-- /.sidebar-collapse -->
</nav>
<!-- /.navbar-static-side -->
<div id="page-wrapper">
    <div growl></div>
    <div class="row">
        <div class="col-lg-12" ui-view>
            <h1 class="page-header"></h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Core Scripts - Include with every page -->
<script src="{% static "bower_components/jquery-1.11.1/dist/jquery.min.js" %}"></script>
<script src="{% static "js/plugins/animatescroll.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>

<!-- Page-Level Plugin Scripts - Blank -->

<!-- SB Admin Scripts - Include with every page -->
<script src="{% static "js/sb-admin-2.js" %}"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="{% static "js/plugins/metisMenu/metisMenu.min.js" %}"></script>

<!-- Angular framework -->
<script src="{% static "bower_components/angular/angular.min.js" %}"></script>
<script src="{% static "bower_components/angular-resource/angular-resource.min.js" %}"></script>
<script src="{% static "bower_components/angular-route/angular-route.min.js" %}"></script>
<script src="{% static "bower_components/angular-cookies/angular-cookies.min.js" %}"></script>
<script src="{% static "bower_components/angular-i18n/angular-locale_fr-fr.js" %}"></script>
<script src="{% static "bower_components/angular-animate/angular-animate.min.js" %}"></script>
<script src="{% static "bower_components/angular-sanitize/angular-sanitize.min.js" %}"></script>
<link href="{% static "bower_components/angular-xeditable/dist/css/xeditable.css" %}" rel="stylesheet">
<script src="{% static "bower_components/angular-xeditable/dist/js/xeditable.min.js" %}"></script>
<script src="{% static "bower_components/angular-bootstrap/ui-bootstrap.min.js" %}"></script>
<script src="{% static "bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js" %}"></script>
<script src="{% static "bower_components/angular-toArrayFilter/toArrayFilter.js" %}"></script>
<script src="{% static "js/plugins/timeAgo.js" %}"></script>
<script src="{% static "bower_components/angular-scroll/angular-scroll.min.js" %}"></script>
<link href="{% static "bower_components/angular-growl/build/angular-growl.min.css" %}" rel="stylesheet">
<script src="{% static "bower_components/angular-growl/build/angular-growl.min.js" %}"></script>
<script src="{% static "bower_components/angular-loading-bar/build/loading-bar.min.js" %}"></script>
<link href="{% static "bower_components/angular-loading-bar/build/loading-bar.min.css" %}" rel="stylesheet">
<script src="{% static "bower_components/webshim/js-webshim/minified/polyfiller.js" %}"></script>
<script src="{% static "bower_components/angular-ui-router/release/angular-ui-router.min.js" %}"></script>
<script type="text/javascript" src="{% static "bower_components/angular-ui-validate/dist/validate.js" %}"></script>
<script src="{% static "bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js" %}"></script>
<script src="{% static "bower_components/angular-ui-grid/ui-grid.min.js" %}"></script>
<script type='text/javascript' src="{% static "bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/plugins/jquery.sparkline.min.js" %}"></script>
<script type="text/javascript" src="{% static "bower_components/rangy/rangy-core.min.js" %}"></script>
<script type="text/javascript" src="{% static "bower_components/jquery-ui/ui/minified/jquery-ui.min.js" %}"></script>
<script type="text/javascript" src="{% static "bower_components/hallo/dist/hallo.js" %}"></script>
<script type="text/javascript" src="{% static "bower_components/ng-file-upload/ng-file-upload-shim.min.js" %}"></script>
<script type="text/javascript" src="{% static "bower_components/ng-file-upload/ng-file-upload.min.js" %}"></script>

<!-- web Application -->
<script src="{% static "js/app/app.js" %}"></script>
<script src="{% static "js/app/utils.js" %}"></script>
<script src="{% static "js/app/patient.js" %}"></script>
<script src="{% static "js/app/doctor.js" %}"></script>
<script src="{% static "js/app/examination.js" %}"></script>
<!--script src="{% static "js/app/inline-edit.js" %}"></script-->
<script src="{% static "js/app/timeline.js" %}"></script>
<script src="{% static "js/app/search.js" %}"></script>
<script src="{% static "js/app/user.js" %}"></script>
<script src="{% static "js/app/dashboard.js" %}"></script>
<script src="{% static "js/app/officeevent.js" %}"></script>
<script src="{% static "js/app/officesettings.js" %}"></script>
<script src="{% static "js/app/editformmanager.js" %}"></script>
<script src="{% static "js/app/tour.js" %}"></script>
<script src="{% static "js/app/halloeditor.js" %}"></script>
<script src="{% static "js/app/fileimport.js" %}"></script>
<script src="{% url 'django.views.i18n.javascript_catalog' %}" type="text/javascript"></script>

<!--Specific libreosteo CSS -->
<link href="{% static "css/libreosteo.css" %}" rel="stylesheet"/>


</body>

</html>
