Django>=1.11.18,<2.0
Whoosh==2.7.0
argparse==1.2.1
django-appconf==1.0.1
django-filter==1.0.4
django-haystack==2.8.1
django-statici18n==1.4.0
djangorestframework==3.11.2
six==1.11.0
cherrypy==14.0.0
djangorestframework-csv==1.4.1
django_compressor
setuptools-bower
sqlparse
netifaces
decorator
packaging
